[project]
	description = The C Preprocessor as a Java library
[access "refs/*"]
	owner = group user/Grzegorz Kołakowski (grzegorz8)
[access "refs/for/refs/*"]
	read = group user/Grzegorz Kołakowski (grzegorz8)
	push = group user/Grzegorz Kołakowski (grzegorz8)
	label-Code-Review = -2..+2 group user/Grzegorz Kołakowski (grzegorz8)
	label-Verified = -1..+1 group user/Grzegorz Kołakowski (grzegorz8)
	rebase = group user/Grzegorz Kołakowski (grzegorz8)
	removeReviewer = group user/Grzegorz Kołakowski (grzegorz8)
	submit = group user/Grzegorz Kołakowski (grzegorz8)
[access "refs/heads/*"]
	read = group user/Grzegorz Kołakowski (grzegorz8)
	create = group user/Grzegorz Kołakowski (grzegorz8)
	push = +force group user/Grzegorz Kołakowski (grzegorz8)
	pushMerge = group user/Grzegorz Kołakowski (grzegorz8)
[access "refs/tags/*"]
	push = +force group user/Grzegorz Kołakowski (grzegorz8)
	pushTag = group user/Grzegorz Kołakowski (grzegorz8)
	pushSignedTag = group user/Grzegorz Kołakowski (grzegorz8)
